@model EventsNearMe.Models.Event

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Details";
}

    <div class="row mb-2">
        <h1>Booking confirmation</h1>
    </div>

<div class="row mb-3">
    <div class="col-sm-12 col-md-8 mb-2">
        <div class="card">
            <img class="card-img-top" src="~/Content/Images/@Model.CoverImage">
            <div class="card-body">
                <div class="card-text"><h3>@Html.DisplayFor(model => model.Name)</h3></div>
                <div class="card-text">Organizer: @Html.DisplayFor(model => model.Organizer.UserName)</div>
                <div class="card-text">Price: @Html.DisplayFor(model => model.Price)</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Description</div>
                <div class="card-text">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    @Scripts.Render("~/Scripts/maps.js")
}