@model EventsNearMe.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row mb-3">
   <div class="col-sm-12 col-md-4" ><img src="~/Content/Images/@Model.CoverImage" /></div>
    <div class="col-sm-12 col-md-8">
        <div>@Html.DisplayFor(model => model.Name)</div>
        <div>@Html.DisplayFor(model => model.Organizer.UserName)</div>
        <div>@Html.DisplayFor(model => model.Price)</div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.EventID });
        @Html.ActionLink("Back to List", "Index");
    }
</p>
