@model EventsNearMe.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row mb-3">
    <div class="col-sm-12 col-md-4"><img src="~/Content/Images/@Model.CoverImage" /></div>
    <div class="col-sm-12 col-md-8">
        <div>@Html.DisplayFor(model => model.Name)</div>
        <div>@Html.DisplayFor(model => model.Organizer.UserName)</div>
        <div>@Html.DisplayFor(model => model.Price)</div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>
<div class="row">
    @Html.HiddenFor(model => model.Location.Address, new { @id = "Event_Location_Address"})
    @Html.HiddenFor(model => model.Location.City, new { @id = "Event_Location_City"})
    @Html.HiddenFor(model => model.Location.Latitude, new { @id = "Event_Location_Latitude"})
    @Html.HiddenFor(model => model.Location.Longitudes, new { @id = "Event_Location_Longitudes"})
    @Html.HiddenFor(model => model.Location.PostCode, new { @id = "Event_Location_PostCode"})
    <div id="map" class="col-12" style="width: 100%; height: 350px;"></div>
</div>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.EventID });
        @Html.ActionLink("Back to List", "Index");
    }
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    @Scripts.Render("~/Scripts/maps.js")
}

