@model EventsNearMe.Models.Event

@{
    ViewBag.Title = "Details";
}

<div class="row mb-3">
    <div class="col-sm-12 col-md-8 mb-2">
        <div class="card">
            <img class="card-img-top" src="~/Content/Images/@Model.CoverImage">
            <div class="card-body">
                <div class="card-text"><h3>@Html.DisplayFor(model => model.Name)</h3></div>
                <div class="card-text">Organizer: @Html.DisplayFor(model => model.Organizer.UserName)</div>
                <div class="card-text">Price: @Html.DisplayFor(model => model.Price)</div>
                @using (Html.BeginForm("Create", "Bookings"))
                {
                    @Html.AntiForgeryToken()
                    if (User.Identity.IsAuthenticated)
                    {
                        @Html.HiddenFor(model => model.EventID)
                        @Html.HiddenFor(model => model.Name)
                        @Html.HiddenFor(model => model.Organizer.UserName)
                        @Html.HiddenFor(model => model.Price)
                        <div class="form-horizontal float-right">
                            <input type="submit" value="Book" class="btn btn-success" />
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        @Html.HiddenFor(model => model.Location.Address, new { @id = "Event_Location_Address" })
        @Html.HiddenFor(model => model.Location.City, new { @id = "Event_Location_City" })
        @Html.HiddenFor(model => model.Location.Latitude, new { @id = "Event_Location_Latitude" })
        @Html.HiddenFor(model => model.Location.Longitudes, new { @id = "Event_Location_Longitudes" })
        @Html.HiddenFor(model => model.Location.PostCode, new { @id = "Event_Location_PostCode" })
        <div id="map" class="mb-2" style="width: 100%; height: 100%; min-height:250px"></div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Description</div>
                <div class="card-text">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.EventID });
        @Html.ActionLink("Back to List", "Index");
    }
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    @Scripts.Render("~/Scripts/maps.js")
}

